body {
    font-family: "Roboto", "Nunito", sans-serif;
    margin: 0;
}

@keyframes rotationRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes rotationLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

@keyframes brokenRotationRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(30deg);
    }
}

@keyframes brokenRotationLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-30deg);
    }
}

@keyframes translateTitle {
    from {
        transform: translateY(23px) translateX(45px);
    }
    to {
        transform: translateY(23px) translateX(60px);
    }
}

@keyframes rotateIco {
    from {
        transform: scale(0.9) rotate(0deg);
    }
    to {
        transform: scale(0.9) rotate(360deg);
    }
}

